@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@200..800');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');

body {
    margin: 0;
    padding: 0;
    color: #fff;
    /* font-family: "Orbitron", serif; */
    font-family: "Oxanium", serif;
    background-color: black;
}

#content {
    position: absolute;
    display: none;
}

h1 {
    font-family: "Gemunu Libre";
}

.hidden {
    display: none;
}